@charset "utf-8";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

header {
    width: 100%;
    /* 横幅100% */
    height: 70px;
    /* 高さ70px */
    background-color: #EC715F;
    /* 背景色をカラーコードで指定 */
    /* 固定 */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    /* 高さ70px */
    margin: 0 auto;
    /* 中央寄せ */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 子要素を右詰めで順に並べるように設定する */
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    /* 横幅560px */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item {
    margin: 0 30px;
    /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
    list-style: none;
    /* li使用時に発生する黒丸を削除 */
    line-height: 70px;
    /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
    text-align: center;
    /* 横方向に中央寄せで文字を配置する。*/
    color: white;
    /* 文字色を白に変更 */
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans JP";
}

.nav-list-item a {
    position: relative;
    /*疑似要素使用のため*/
    text-decoration: none;
    /*標準時の下線を削除*/
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    /*下線の幅*/
    height: 4px;
    /*下線の太さ*/
    background: black;
    visibility: hidden;
    /*非表示*/
    opacity: 0;
    /*透明*/
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    /*表示*/
    opacity: 1;
    /*不透明に*/
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    /* 横幅いっぱい */
    height: 650px;
    /* 高さ650px */
    background-image: url(img/mv.png);
    /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
    background-size: cover;
    /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center;
    /* 背景画像を中央に配置 */
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 256px;
    font-size: 100px;
    color: #F9F9F9;
    line-height: 145%;
    font-family: Raleway;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
    font-family: "Noto Sans JP";
}


/* .mainをmainに変更して、専用タグのmainを指定するように設定する。 */

main {
    width: 100%;
    /* 横幅いっぱい */
}

.works {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-top: 140px;
    margin-bottom: 160px;
}

h2 {
    color: #414141;
    font-size: 36px;
    line-height: 160%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
}

.border_line {
    width: 30px;
    height: 6px;
    border-bottom: 3px solid pink;
    margin: 0 auto;
}

.main-contents {
    margin: 80px 0;
    display: flex;
    width: 960px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 72px;
    flex-wrap: wrap;
}

.main-contents-box {
    width: 272px;
    height: 272px;
    background-size: cover;
    background-position: center;
}

.desk {
    background-image: url(img/sketch.jpg);
    /* 背景画像をimgフォルダ内のsketch.jpgに設定 */
}

.pc-blue {
    background-image: url(img/websuku.png);
    /* 背景画像をimgフォルダ内のwebsuku.pngに設定 */
}

.write-board {
    background-image: url(img/write.jpg);
    /* 背景画像をimgフォルダ内のwrite.jpgに設定 */
}

.pc-yellow {
    background-image: url(img/webcamp.png);
    /* 背景画像をimgフォルダ内のwebcamp.pngに設定 */
}

.talk {
    background-image: url(img/talk.jpg);
    /* 背景画像をimgフォルダ内のtalk.jpgに設定 */
}

.pc-pink {
    background-image: url(img/webcamp-mother.png);
    /* 背景画像をimgフォルダ内のwebcamp-mother.pngに設定 */
}

.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    font-family: "Noto Sans JP";
    font-style: normal;
}

.view-all:hover {
    background: #1c1c1c7d;
    color: #F9F9F9;
    transition: 0.3s;
}

.profile {
    text-align: center;
    /*width: 960px;*/
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 90px;
    background: #FFF7F2;
}

.profile-text {
    color: #414141;
    line-height: 180%;
    text-align: left;
    width: 800px;
    height: 145px;
    margin: 64px auto 0;
    font-family: "Noto Sans JP";
}

.profile-contents {
    width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 90px;
    justify-content: space-between;
}

.profile-image {
    background-image: url(img/my-icon.jpg);
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.profile-introduction {
    width: 400px;
    height: 424px;
    text-align: left;
}

h3 {
    color: #414141;
    font-size: 20px;
    font-family: "Noto Sans JP";
    font-weight: 700;
}

.name {
    margin-top: 21px;
    margin-bottom: 32px;
    color: #414141;
    font-family: "Noto Sans JP";
    line-height: 180%;
}

.skills {
    margin-top: 21px;
    margin-bottom: 32px;
    color: #414141;
    line-height: 180%;
    font-family: "Noto Sans JP";
}

.blogs {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 160px;
}

.view-all-blogs {
    display: block;
    padding-top: 100px;
    text-align: left;
    color: #909090;
    line-height: 180%;
    font-family: "Noto Sans CJK JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
}

.view-all-blogs:hover {
    color: #909090;
}

.blogs-contents {
    display: flex;
    width: 960px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 72px;
    flex-wrap: wrap;
    height: 751px;
    margin-top: 20px;
}

.blog-link {
    text-decoration: none;
}

.blog-cart {
    width: 272px;
    height: 319px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.datetime {
    display: flex;
    width: 100%;
    height: 29.152px;
    flex-direction: column;
    justify-content: flex-end;
    color: #EC715F;
    font-size: 12px;
    line-height: 180%;
    text-align: left;
    font-family: Noto Sans JP;
}

.caption {
    width: 272px;
    color: #414141;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    text-align: left;
    font-family: "Noto Sans JP";
}

.blog1 {
    background-image: url(img/blog1.png);
    /* 背景画像をimgフォルダ内のsketch.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog2 {
    background-image: url(img/blog2.png);
    /* 背景画像をimgフォルダ内のwebsuku.pngに設定 */
    width: 272px;
    height: 177px;
}

.blog3 {
    background-image: url(img/blog3.png);
    /* 背景画像をimgフォルダ内のwrite.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog4 {
    background-image: url(img/blog4.png);
    /* 背景画像をimgフォルダ内のwebcamp.pngに設定 */
    width: 272px;
    height: 177px;
}

.blog5 {
    background-image: url(img/blog5.png);
    /* 背景画像をimgフォルダ内のtalk.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog6 {
    background-image: url(img/blog6.png);
    /* 背景画像をimgフォルダ内のwebcamp-mother.pngに設定 */
    width: 272px;
    height: 177px;
}

footer {
    width: 100%;
    height: 412px;
    text-align: center;
    line-height: 60px;
    background-color: #EC715F;
    display: flex;
    padding: 28px 0px 16px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.contact-link {
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 24px 100px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #EC715F;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    font-family: "Noto Sans JP";
}

.contact-link:hover {
    color: #EC715F;
}

.sns {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


/* 追従ボタン */

.fixed_btn {
    position: fixed;
    bottom: 20px;
    right: 75px;
    padding: 15px 15px;
    background-color: #00000038;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 1px #FFF;
}

.fixed_btn img {
    width: 40px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}

/* =========================
ハンバーガーメニューの実装
=========================== */
#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}

/*スマホ用*/
@media screen and (max-width: 480px) {
    
    html, body, header, nav, main, .main-visual, .main-visual-text, .works, .profile, .blogs, .blogs-contents, footer {
        width: 100%;
    }
    
    body {
        padding-top: 0;
    }
    
    .pc-logo {
        display: none;
    }
    
    .sm-logo {
        display: block;
    }
    
    
    /* =========================
    ハンバーガーメニュー
    =========================== */
    .nav-list {
        padding: 0;
        display: block;
    }
    
    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        z-index: 100;
        cursor: pointer;
        top: 35px;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }
    
     /*アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    
     /*アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    nav {
        height: 100%;
        position: fixed;
        bottom: 0;
        left: -100%;
        top: 70px;
        z-index: 99;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    
    .nav-list-item:first-child {
       margin-top: 16px;
    } 
    
    .nav-list-item:last-child {
        width: 200px;
        margin: 0 auto;
        bottom: 70px;
        position: absolute;
        left: 50%;
        /* transform: translate(-50%, -50%); */
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .nav-list-item a {
        color: #F9F9F9;
        text-decoration: none;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked~nav {
        bottom: 0;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100%;
    }
    
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    
    a.contact-button {
        color: #EC715F;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    /*メインビジュアル*/
    .main-visual {
        height: 550px;
    }
    .main-visual-title {
        font-size: 52px;
        font-family: Raleway;
        font-weight: 600;
    }
    
    .main-visual-subtitle {
        width: 100%;
        margin: 0 auto;
        font-size: 17px;
        line-height: 150%;
        font-family: "Noto Sans JP";
        padding: 0 30px 0 30px;
    }
    
    /*works*/
    .works {
        padding-top: 64px;
        margin-bottom: 64px;
    }
    
    .main-contents-box {
        width: 160px;
        height: 160px;
    }
    
    .main-contents {
        width: 90%;
        margin: 0 auto;
        gap: 16px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    /*プロフィール   */
    .profile {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .profile-text {
        width: 90%;
        margin: 0 auto;
        margin-top: 64px;
        height: 224px;
        font-size: 14px;
    }
    
    .profile-contents {
        display: block;
        width: 90%;
        margin-bottom: 0;
    }
    
    .profile-image {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    
    .profile-introduction {
        width: 100%;
        height: auto;
        /* margin-bottom: 54px; */
    }
    
    h3 {
        font-weight: 700;
        margin: 0;
    }
    
    .name {
        margin-top: 16px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .skills {
        margin-top: 16px;
        margin-bottom: 0;
    }
    
    /*blogs*/
    .blogs {
        padding-top: 64px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 64px;
    }
    
    .blogs-contents {
        display: block;
    }
    
    .view-all-blogs {
        padding-top: 64px;
    }
    
    .blog-cart {
        width: 100%;
        height: 356px;
        padding-bottom: 48px;
    }
    
    .blogs-contents {
        height: auto;
        margin-top: 24px;
    }
    
    .blog-link {
        display: block;
        margin-bottom: 48px;
    }
    
    .blog1 {
        width: 100%;
        height: 230px;
        background-size: cover;
        background-position: center;
    }
    .blog2 {
        width: 100%;
        height: 220px;
        height: 230px;
        background-size: cover;
        background-position: center;
    }
    .blog3 {
        width: 100%;
        height: 220px;
        height: 230px;
        background-size: cover;
        background-position: center;    
    }
    .blog4 {
        width: 100%;
        height: 220px;
        height: 230px;
        background-size: cover;
        background-position: center;    
    }
    .blog5 {
        width: 100%;
        height: 220px;
        height: 230px;
        background-size: cover;
        background-position: center;    
    }
    .blog6 {
        width: 100%;
        height: 220px;
        height: 230px;
        background-size: cover;
        background-position: center;
    }
    
    .caption {
        width: 100%;
        margin-bottom: 0;
    }
    
    .blog-cart:last-child {
        padding-bottom: 0;
    }


}





