@charset "utf-8";

/*CSSライブラリのインポート*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP';
}

/* =========================
          header
=========================== */

header {
    width: 100%;
    background-color: #EC715F;
    position: fixed;
    z-index: 100;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    display: flex;
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

.nav-list-item {
    margin: 0 30px;
    list-style: none;
    line-height: 70px;
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    opacity: 1;
    background-color: white;
}


.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

/* =========================
          main-visual
=========================== */

.main-visual {
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
}

.main-visual-title {
    font-family: Raleway;
    padding-top: 256px;
    color: #F9F9F9;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    line-height: 120%;
}

.main-visual-subtitle {
    font-family: Raleway;
    width: 784px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
}

/* =========================
           works
=========================== */

.works {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-top: 128px;
    padding-bottom: 128px;
}

h2 {
    color: #414141;
    font-size: 36px;
    line-height: 160%;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: 6px;
}

.border_line {
    width: 30px;
    height: 6px;
    margin: 0 auto;
    border-radius: 3px;
    background: #EC715F;
}

.main-contents {
    padding: 64px 0;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.main-contents-box {
    width: 272px;
    height: 272px;
    background-size: cover;
    background-position: center;
}

.desk {
    background-image: url(img/sketch.jpg);
}

.pc-blue {
    background-image: url(img/websuku.png);
}

.write-board {
    background-image: url(img/write.jpg);
}

.pc-yellow {
    background-image: url(img/webcamp.png);
}

.talk {
    background-image: url(img/talk.jpg);
}

.pc-pink {
    background-image: url(img/webcamp-mother.png);
}

.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
}

.view-all:hover {
    background-color: #888;
    color: #F9F9F9;
    transition: 0.3s;
}

/* =========================
         profile
=========================== */

.profile {
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
    background: #FFF7F2;
}

.profile-text {
    width: 800px;
    margin: 0 auto;
    padding-top: 64px;
    color: #414141;
    line-height: 180%;
    text-align: left;
}

.profile-contents {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.profile-image {
    background-image: url(img/my-icon.png);
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile-introduction {
    width: 400px;
    text-align: left;
}

h3 {
    color: #414141;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
}

.name {
    color: #414141;
    padding: 9px 0 30px 0;
    line-height: 180%;
}

.skills {
    padding-top: 9px;
    color: #414141;
    line-height: 180%;
}

/* =========================
          blog
=========================== */

.blogs {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding: 128px 0;
    padding-bottom: 128px;
}

.view-all-blogs {
    display: block;
    padding-top: 64px;
    text-align: left;
    color: #909090;
    font-weight: 500;
    line-height: 180%;
}

.view-all-blogs:hover {
    color: #909090;
}

.blogs-contents {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding-top: 20px;
}

.blog-link {
    text-decoration: none;
}

.blog-cart {
    height: 319px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.datetime {
    text-align: left;
    color: #EC715F;
    font-size: 12px;
    display: flex;
    height: 29.152px;
    flex-direction: column;
    justify-content: flex-end;
}

.caption {
    width: 272px;
    text-align: left;
    color: #414141;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    margin: 0;
}

.image-box {
    height: 177px;
    background-size: cover;
    background-position: center; 
}

.blog1 {
    background-image: url(img/blog1.jpg);
}

.blog2 {
    background-image: url(img/blog2.jpg);
}

.blog3 {
    background-image: url(img/blog3.jpg);
}

.blog4 {
    background-image: url(img/blog4.jpg);
}

.blog5 {
    background-image: url(img/blog5.jpg);
}

.blog6 {
    background-image: url(img/blog6.jpg);
}

/* =========================
          footer
=========================== */

footer {
    height: 290px;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    padding: 24px 100px;
    align-items: center;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
    width: 100%;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    padding-bottom: 20px;
}


/* =========================
           util
=========================== */

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#more {
    display: none;
}

.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}

.none {
    display: none;
}

/* =========================
      hamburger menu
=========================== */

#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}

/* =========================
   スマホ用（width 480px）
=========================== */

@media screen and (max-width: 480px) {
    
    html, body, header, nav, main, .main-visual, .main-visual-text, .works, .profile, .blogs, .blogs-contents, footer {
        width: 100%;
    }
    
    .none {
        display: none !important;
    }
    
    .pc-logo {
        display: none;
    }
    
    .sm-logo {
        display: block;
        margin: 0;
        height: 70px;
    }
    
    #more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #1C1C1C;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    #close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #1C1C1C;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 80px;
    }
    
    .open-arrow {
        width: 12px;
        height: 12px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(135deg);
    }
    
    .close-arrow {
        width: 12px;
        height: 12px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(318deg);
    }
    
    /* =========================
             header
    =========================== */
    
    .heading a {
        display: block;
        padding-top: 7px;
    }
    
    .nav-list {
        padding: 0;
        display: block;
    }
    
    /* =========================
          hamburger menu
    =========================== */
    
    .nav-list {
        padding: 0;
        display: block;
    }
    
    .drawer_hidden {
        display: none;
    }
    
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 18px;
        right: 26px;
        width: 40px;
        height: 40px;
    }
        
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer_open span:before {
        bottom: 10px;
    }
    
    .drawer_open span:after {
        top: 10px;
    }
    
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    nav {
        height: 100%;
        position: fixed;
        left: -100%;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    
    .nav-list-item:first-child {
        margin-top: 16px;
    }
    
    .nav-list-item:last-child {
        width: 200px;
        bottom: 70px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .nav-list-item a {
        font-size: 24px;
    }
    
    #drawer_input:checked~nav {
        left: 0;
    }
    
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    
    .contact-button {
        color: #EC715F;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    /* =========================
           main-visual
    =========================== */
    
    .main-visual {
        height: 550px;
    }
    
    .main-visual-title {
        font-size: 60px;
        line-height: 110%;
    }
    
    .main-visual-subtitle {
        width: 100%;
        padding: 0 30px 0 30px;
        text-align: center;
    }
    
    /* =========================
               works
    =========================== */
    
    .works {
        padding: 64px 0;
    }
    
    .main-contents-box {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    
    .main-contents {
        width: 100%;
        margin: 0 auto;
        gap: 16px;
        padding: 64px 3%;
    }
    
    .main-contents a {
        display: block;
        width: calc((100% - 16px) / 2);
        
    }
    
    /* =========================
               profile
    =========================== */
    
    .profile {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    .profile-text {
        width: 87.5%;
    }
    
    .profile-contents {
        display: block;
        width: 87.5%;
    }
    
    .profile-image {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .profile-introduction {
        width: 100%;
    }
    
    h3 {
        margin: 0;
    }
    
    .name {
        padding-top: 16px;
    }
    
    .skills {
        padding-top: 16px;
    }
    
    /* =========================
               blogs
    =========================== */
    
    .blogs {
        padding-top: 64px;
        width: 87.5%;
        margin: 0 auto;
        padding-bottom: 64px;
    }
    
    .blogs-contents {
        display: block;
    }
    
    .view-all-blogs {
        padding-top: 80px;
    }
    
    .blog-cart {
        height: 356px;
        display: block;
        margin-bottom: 48px;
    }
    
    .blog-cart:nth-child(3) {
        margin-bottom: 64px;
    }
    
    .blog-cart:last-child {
        margin-bottom: 80px;
    }
    
    .blogs-contents {
        padding-top: 24px;
    }
    
    .blog-link {
        display: block;
        margin-bottom: 48px;
    }
    
    .blog1 {
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .blog2 {
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .blog3 {
        width: 100%;
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .blog4 {
        width: 100%;
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .blog5 {
        width: 100%;
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .blog6 {
        width: 100%;
        height: 254px;
        background-size: cover;
        background-position: center;
    }
    
    .datetime {
        height: 27px;
        margin: 0;
    }
    
    .caption {
        width: 100%;
        margin-top: 8px;
    }
    
    .blog-cart:last-child {
        margin-bottom: 0;
    }
    
    /* =========================
               footer
    =========================== */
    
    footer {
        height: 258px;
        gap: 8px;
    }
    
    .footer-text {
        line-height: 145%;
    }
    
    .fixed_btn {
        right: 15px;
    }
}