/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-960px {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  /*width: 1440px;*/
  /*margin: 0 auto;*/
}

header{
  width: 100%; /* 横幅100% */
  height: 70px; /* 高さ70px */
  background-color: #EC715F; /* 背景色をカラーコードで指定 */
}

.heading img{
  height: 60px;
}

nav{
  width: 960px; /* 横幅960px */
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 子要素を右詰めで順に並べるように設定する */
}

nav > :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list{
  width: 560px; /* 横幅560px */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item{
  margin: 0 30px; /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
  list-style: none; /* li使用時に発生する黒丸を削除 */
  line-height: 70px; /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color: white; /* 文字色を白に変更 */
}

.nav-list-item a{
  text-decoration: none; /* リンクに設定した場合発生する文字の装飾を解除。 */
  color: white; /* リンクを設定すると文字が青色になってしまうので、白に変更 */
}

.main-visual{ 
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ650px */
  background-image: url(img/mv.png); /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */ 
}

.main-visual-text{
  width: 650px; /* 横幅650px */
  height: 650px; /* 高さ650px */
  margin: 0 auto; /* 中央寄せ */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color:white;  /* 文字色を白に変更 */ 
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 256px;
    font-size: 100px;
    color: #F9F9F9;
    line-height: 145%;
}

.main-visual-subtitle {
    width: 784px;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 200%;
}

/* .mainをmainに変更して、専用タグのmainを指定するように設定する。 */
main{
  width: 100%; /* 横幅いっぱい */
}

.works {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-top: 140px;
    margin-bottom: 160px;
}
h2 {
    color: #414141;
    font-size: 36px;
    line-height: 160%;
}

.border_line {
    width: 30px;
    height: 6px;
    border-bottom: 3px solid pink;
    margin: 0 auto;
}

.main-contents {
    margin: 80px 0;
    display: flex;
    width: 960px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 72px;
    flex-wrap: wrap;
}

.main-contents-box {
    width: 272px;
    height: 272px;
    background-size: cover;
    background-position: center;
}

.desk{
    background-image: url(img/sketch.jpg); /* 背景画像をimgフォルダ内のsketch.jpgに設定 */
}

.pc-blue{
    background-image: url(img/websuku.png); /* 背景画像をimgフォルダ内のwebsuku.pngに設定 */
}

.write-board{
    background-image: url(img/write.jpg); /* 背景画像をimgフォルダ内のwrite.jpgに設定 */
}

.pc-yellow{
    background-image: url(img/webcamp.png); /* 背景画像をimgフォルダ内のwebcamp.pngに設定 */
}

.talk{
    background-image: url(img/talk.jpg); /* 背景画像をimgフォルダ内のtalk.jpgに設定 */
}

.pc-pink{
    background-image: url(img/webcamp-mother.png); /* 背景画像をimgフォルダ内のwebcamp-mother.pngに設定 */
}

.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
}

.profile {
    text-align: center;
    /*width: 960px;*/
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 90px;
    background: #FFF7F2;
}

.profile-text {
    color: #414141;
    line-height: 180%;
    text-align: left;
    width: 800px;
    height: 145px;
    margin: 64px auto 0;
}

.profile-contents {
    width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 90px;
    justify-content: space-between;
}

.profile-image {
    background-image: url(img/my-icon.jpg);
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    background-repeat: no-repeat;
}

.profile-introduction {
    width: 400px;
    height: 424px;
    text-align: left;
}


h3 {
    color: #414141;
    font-size: 20px;
}

.name {
    margin-top: 21px;
    margin-bottom: 32px;
    color: #414141;
    line-height: 180%;
}

.skills {
    margin-top: 21px;
    margin-bottom: 32px;
    color: #414141;
    line-height: 180%;
}

.blogs {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 160px;
}

.view-all-blogs {
    display: block;
    padding-top: 100px;
    text-align: left;
    color: #909090;
    line-height: 180%;
}


.blogs-contents {
    display: flex;
    width: 960px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 72px;
    flex-wrap: wrap;
    height: 751px;
    margin-top: 20px;
}

.blog-cart {
    width: 272px;
    height: 319px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.datetime {
    display: flex;
    width: 100%;
    height: 29.152px;
    flex-direction: column;
    justify-content: flex-end;
    color: #EC715F;
    font-size: 12px;
    line-height: 180%;
    text-align: left;
}

.caption {
    width: 272px;
    color: #414141;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    text-align: left;
}

.blog1{
    background-image: url(img/blog1.png); /* 背景画像をimgフォルダ内のsketch.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog2{
    background-image: url(img/blog2.png); /* 背景画像をimgフォルダ内のwebsuku.pngに設定 */
    width: 272px;
    height: 177px;
}

.blog3{
    background-image: url(img/blog3.png); /* 背景画像をimgフォルダ内のwrite.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog4{
    background-image: url(img/blog4.png); /* 背景画像をimgフォルダ内のwebcamp.pngに設定 */
    width: 272px;
    height: 177px;
}

.blog5{
    background-image: url(img/blog5.png); /* 背景画像をimgフォルダ内のtalk.jpgに設定 */
    width: 272px;
    height: 177px;
}

.blog6{
    background-image: url(img/blog6.png); /* 背景画像をimgフォルダ内のwebcamp-mother.pngに設定 */
    width: 272px;
    height: 177px;
}

footer {
    width: 100%;
    height: 412px;
    text-align: center;
    line-height: 60px;
    background-color: #EC715F;
    display: flex;
    padding: 28px 0px 16px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.contact-link {
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 24px 100px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #EC715F;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
}

.footer-text {
  color: white; /* 文字色を白に設定 */
}

.sns {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
  width: 30px;
  height: 30px;
}

.footer_border_line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

