@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width_704px {
    width: 704px;
    margin: 0 auto;
}

body {
    font-family: 'Noto Sans JP';
}

/* =========================
          header
=========================== */

header {
    width: 100%;
    background-color: #EC715F;
    position: fixed;
    z-index: 100;
    top: 0;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    display: flex;
    justify-content: flex-end;
}

.nav-list-item {
    margin: 0 30px;
    list-style: none;
    line-height: 70px;
    text-align: center;
    color: white;
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    opacity: 1;
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}


/* =========================
        main-visual
=========================== */

.main-visual {
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-visual-text {
    width: 960px;
    margin: 0 auto;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: "Raleway";
    font-size: 72px;
    font-weight: 700;
    line-height: 110%;
}


/* =========================
           blog
=========================== */

main {
    width: 704px;
    margin: 0 auto;
    padding: 128px 0;
}

.blog {
    display: flex;
    margin-bottom: 96px;
}

.blog:last-child {
    margin-bottom: 0;
}

.blog-link {
    display: block;
    text-decoration: none;
    margin-bottom: 96px;
}

.image-box {
    width: 166px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;    
}

.blog1-image {
    background-image: url(../img/blog1.jpg);
    margin-left: 0;
}

.blog2-image {
    background-image: url(../img/blog2.jpg);
    margin-left: 0;
}

.blog3-image {
    background-image: url(../img/blog3.jpg);
    margin-left: 0;
}

.blog4-image {
    background-image: url(../img/blog4.jpg);
    margin-left: 0;
}

.blog5-image {
    background-image: url(../img/blog5.jpg);
    margin-left: 0;
}

.blog6-image {
    background-image: url(../img/blog6.jpg);
    margin-left: 0;
}

.blogs-case {
    width: 496px;
    height: 166px;
}

.title-group {
    width: 498px;
    height: 88px;
}

h4 {
    color: #414141;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 0;
}

.datetime {
    color: #EC715F;
    font-size: 12px;
    line-height: 180%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.content {
    line-height: 180%;
    overflow: hidden;
    color: #414141;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/* =========================
           footer
=========================== */

footer {
    height: 290px;
    color: #FFF;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 100px;
    align-items: center;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    line-height: 145%;
}

/* =========================
           util
=========================== */

.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}

/* =========================
      hamburger menu
=========================== */

#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}


/* =========================
   スマホ用（width 480px）
=========================== */

@media screen and (max-width: 480px) {

    html, body, header, nav, main, .main-visual, .main-visual-text, .works, .profile, .blogs, .blogs-contents, footer {
        width: 100vw;
    }

    main {
        padding: 64px 0;
    }

    .pc-logo {
        display: none;
    }

    .sm-logo {
        display: block;
        margin: 0;
        height: 70px;
    }

    .heading a {
        display: block;
        padding-top: 7px;
    }

    /* =========================
          hamburger menu
    =========================== */
    
    .nav-list {
        padding: 0;
        display: block;
    }
    
    .drawer_hidden {
        display: none;
    }
    
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 18px;
        right: 26px;
        width: 40px;
        height: 40px;
    }
    
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer_open span:before {
        bottom: 10px;
    }
    
    .drawer_open span:after {
        top: 10px;
    }
    
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    nav {
        height: 100%;
        position: fixed;
        bottom: 0;
        left: -100%;
        top: 70px;
        z-index: 99;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    
    .nav-list-item:first-child {
        margin-top: 16px;
    }
    
    .nav-list-item:last-child {
        width: 200px;
        margin: 0 auto;
        bottom: 70px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .nav-list-item a {
        font-size: 24px;
    }
    
    #drawer_input:checked~nav {
        bottom: 0;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100%;
    }
    
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    
    /* =========================
          main visual
    =========================== */
    
    .main-visual {
        height: 160px;
    }
    
    .main-visual-title {
        padding-top: 44px;
        margin: 0;
    }
    
    .main-visual-subtitle {
        width: 100vw;
        padding: 0 30px 0 30px;
        text-align: center;
    }
    
    /* =========================
              blog
    =========================== */
    
    .blog-link {
        width: 100vw;
        margin: 0 auto;
    }
    
    .blog {
        margin: 0 auto;
        width: 87.5vw;
        height: 166px;
        margin-top: 56px;
    }
    
    .title-group {
        width: 64vw;
        height: 100px;
        position: relative;
    }
    
    h4 {
        margin-bottom: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .datetime {
        line-height: 145%;
        height: 17px;
    }
    
    .blog:first-child {
        margin-top: 0;
    }
        
    .content {
        position: absolute;
        top: 108px;
        left: -23.75vw;
    }
    
    .image-box {
        background-size: cover;
        background-position: center;
        height: 21vw;
        width: 21vw;
        /* margin-right: 16px; */
    }
    
    .blogs-case {
        height: 100px;
        width: 64vw;
        /* margin-left: 3.3vw; */
    }
    
    /* =========================
             footer
    =========================== */
    
    footer {
        height: 258px;
        gap: 8px;
    }
    
    .footer-text {
        font-size: 12px;
        line-height: 145%;
    }
}