@charset "utf-8";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.width-704px {
    width: 704px;
    margin: 0 auto;
}

header {
    width: 100%;
    /* 横幅100% */
    height: 70px;
    /* 高さ70px */
    background-color: #EC715F;
    /* 背景色をカラーコードで指定 */
    /* 固定 */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    /* 高さ70px */
    margin: 0 auto;
    /* 中央寄せ */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 子要素を右詰めで順に並べるように設定する */
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    /* 横幅560px */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item {
    margin: 0 30px;
    /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
    list-style: none;
    /* li使用時に発生する黒丸を削除 */
    line-height: 70px;
    /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
    text-align: center;
    /* 横方向に中央寄せで文字を配置する。*/
    color: white;
    /* 文字色を白に変更 */
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    /*下線の幅*/
    height: 4px;
    /*下線の太さ*/
    background: black;
    visibility: hidden;
    /*非表示*/
    opacity: 0;
    /*透明*/
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    /*表示*/
    opacity: 1;
    /*不透明に*/
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    /* 横幅いっぱい */
    height: 650px;
    /* 高さ650px */
    background-image: url(img/mv.png);
    /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
    background-size: cover;
    /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center;
    /* 背景画像を中央に配置 */
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.main-visual-title {
    font-family: Raleway;
    padding-top: 256px;
    color: #F9F9F9;
    text-align: center;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.main-visual-subtitle {
    font-family: Raleway;
    width: 784px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}

.main-visual {
    width: 100%;
    /* 横幅いっぱい */
    height: 650px;
    /* 高さ650px */
    background-image: url(img/mv.png);
    /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
    background-size: cover;
    /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center;
    /* 背景画像を中央に配置 */
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    font-family: Raleway;
    padding-top: 256px;
    color: #F9F9F9;
    text-align: center;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.main-visual-subtitle {
    font-family: Raleway;
    width: 784px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}

.main-visual {
    width: 100%;
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-visual-text {
    /*width: 960px;*/
    /*height: 650px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: white;*/
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
}


/* .mainをmainに変更して、専用タグのmainを指定するように設定する。 */

main {
    width: 100%;
    padding-bottom: 128px;
    padding-top: 128px;
}

.blog {
    /* width: 704px; */
    margin: 0 auto;
    padding-bottom: 96px;
    border-bottom: solid 1px #D2D2D2;
}

.blog:last-child {
    margin-bottom: 0;
}

.image-box:last-child {
    margin-bottom: 0;
}

.vertical-line {
    display: flex;
    width: 6px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #EC715F;
    height: 100%;
}

.blog-title {
    height: 173px;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #414141;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 16px;
    width: 674px;
    margin-top: 20px;
    height: 88px;
}

.datetime {
    color: #EC715F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 20px;
}

.image-box {
    width: 704px;
    height: 704px;
    margin: 0 auto;
    margin: 56px 0;
    background-size: cover;
    background-position: center;
} 

.blog1-image {
    background-image: url(../img/blog1-large-image.png);
    height: 704px;
}

.blog2-image {
    background-image: url(../img/blog2-large-image.png);
    height: 528px;
    margin-left: 0;
}

.caption {
    color: #888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 56px;
}

.caution {
    color: #888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
}

.recommend {
    width: 960px;
    margin: 0 auto;
    padding-top: 96px;
}

.recomemnd-headding {
    color: #414141;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 6px;
}

.recommend-blogs {
    width: 960px;
    height: 319px;
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 64px 72px;
    flex-wrap: wrap;
}

.card {
    width: 272px;
    height: 319px;
    border: none;
}

.recomemend-image-box {
    width: 272px;
    height: 177px;
    background-size: cover;
    background-position: center;
}

.recommend-blog-caption {
    width: 272px;
    height: 130px;
}

.recomemnd-blog-datetime {
    color: #EC715F;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    display: flex;
    width: 258px;
    height: 37.152px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 14px;
}

.recommend-blog-title {
    color: #414141;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}

.blog3-image {
    background-image: url(../img/blog3-large-image.png);
    height: 177px;
}

.blog4-image {
    background-image: url(../img/blog4-large-image.png);
    height: 177px;
    margin-left: 0;
}

.blog5-image {
    background-image: url(../img/blog5-large-image.png);
    height: 177px;
    margin-left: 0;
}

.description {
    color: #414141;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 56px;
}

h4 {
    height: 24.65px;
    color: #414141;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 24px;
    align-self: stretch;
}

.description p {
    margin: 0;
    color: #414141;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.blogs-case {
    width: 496px;
    height: 166px;
}

.title-group {
    width: 498px;
    height: 88px;
}

.content {
    overflow: hidden;
    color: #414141;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    height: 58px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    font-style: normal;
}

.view-all:hover {
    background: #1c1c1c7d;
    color: #F9F9F9;
    transition: 0.3s;
}

footer {
    height: 290px;
    color: #FFF;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    width: 1440px;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}


/* 追従ボタン */

.fixed_btn {
    position: fixed;
    bottom: 20px;
    right: 50px;
}

.fixed_btn img {
    width: 40px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}