@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP';
}

/* =========================
          header
=========================== */

header {
    width: 100%;
    background-color: #EC715F;
    position: fixed;
    top: 0;
    z-index: 100;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    display: flex;
    justify-content: flex-end;
}

.nav-list-item {
    margin: 0 30px;
    list-style: none;
    line-height: 70px;
    text-align: center;
    color: white;
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    opacity: 1;
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

/* =========================
          main-visual
=========================== */

.main-visual {
    width: 100%;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-top: 70px;
} 

.main-visual-text {
    width: 960px;
    margin: 0 auto;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: "Raleway";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

/* =========================
          contact
=========================== */

main {
    padding: 128px 0;
}

.contact h2 {
    width: 429px;
    color: #414141;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}

.cantact-contents {
    width: 517px;
    margin: 0 auto;
    padding: 96px 0;
}

.contact-text {
    color: #414141;
    text-align: center;
    font-size: 18px;
    line-height: 200%;
    margin: 0;
}

label {
    color: #414141;
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    display: block;
}

#form input {
    width: 517px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888;
    margin-bottom: 24px;
}

#form input:hover {
    outline: none;
    border: 1px solid #EC715F;
}

.now-input {
    background-color: red;
}

textarea {
    width: 517px;
    height: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888;
}

#form textarea:hover {
    outline: none;
    border: 1px solid #EC715F;
}

.send {
    display: flex;
    height: 60px;
    padding: 24px 100px;
    align-items: center;
    border-radius: 30px;
    background: #1C1C1C;
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 96px;
    border: 1px #1C1C1C;
}

.send:hover {
    background-color: #b0a9a9;
    transition: 0.4s;
}

.error {
    color: #FFF;
    padding: 5px;
    background-color: #EC715F;
    font-size: 11px;
    margin-left: 5px;
}

/* =========================
          footer
=========================== */

footer {
    height: 312px;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    padding: 24px 100px;
    align-items: center;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
    width: 100%;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    padding-bottom: 20px;
}


/* =========================
           util
=========================== */


.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}


/* =========================
      hamburger menu
=========================== */

#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}

/* =========================
   スマホ用（width 480px）
=========================== */

@media screen and (max-width: 480px) {
    
    html, body, header, nav, main, .main-visual, .main-visual-text, footer {
        width: 100%;
    }
    
    body {
        padding-top: 0;
    }
    
    /* =========================
              util
    =========================== */
    
    .pc-logo {
        display: none;
    }
    
    .sm-logo {
        display: block;
        margin: 0;
        height: 70px;
    }
    
    /* =========================
            header
    =========================== */

    .heading a {
        display: block;
        padding-top: 7px;
    }
    
    .nav-list {
        padding: 0;
        display: block;
    }
    
    .drawer_hidden {
        display: none;
    }
    
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 18px;
        right: 26px;
        width: 40px;
        height: 40px;
    }
    
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    
    .drawer_open span:before {
        bottom: 10px;
    }
    
    .drawer_open span:after {
        top: 10px;
    }

    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    nav {
        height: 100%;
        position: fixed;
        bottom: 0;
        left: -100%;
        top: 70px;
        z-index: 99;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    
    .nav-list-item:first-child {
        margin-top: 16px;
    }
    
    .nav-list-item:last-child {
        width: 200px;
        margin: 0 auto;
        bottom: 70px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .nav-list-item a {
        color: #F9F9F9;
        text-decoration: none;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    #drawer_input:checked~nav {
        bottom: 0;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100%;
    }
    
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    
    a.contact-button {
        color: #EC715F;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    /* =========================
             main-visual
    =========================== */

    .main-visual {
        height: 160px;
    }
    
    .main-visual-title {
        line-height: 110%;
        padding-top: 44px;
        width: 100%;
    }
    
    .main-visual-subtitle {
        width: 100%;
        padding: 0 30px 0 30px;
        text-align: center;
    }
    
    /* =========================
            contact
    =========================== */

    main {
        padding: 64px 0;
    }
    
    .contact-text {
        color: #414141;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        width: calc(100% - 120px);
        margin: 0 auto;
    }
    
    .cantact-contents {
        margin: 0 25px;
        width: calc(100% - 50px);
        padding-top: 40px;
        padding-bottom: 0;
    }
    
    label {
        text-align: left;
        display: block;
        color: #414141;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
    }
    
    #form input {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #888;
        background: #FFF;
        margin-bottom: 24px;
        position: relative;
        width: 100%;
        height: 50px;
    }
    
    textarea {
        display: flex;
        padding: 10px;
        align-items: flex-start;
        gap: 5px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid #888;
        background: #FFF;
        width: 100%;
        height: 300px;
    }
    
    .send {
        color: #F9F9F9;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
        margin: 0 auto;
        border: 1px #1C1C1C;
        margin-top: 56px;
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: var(--black, #1C1C1C);
    }
    
    /* =========================
               modal
    =========================== */

    .modal_content.open {
        display: flex;
        width: 704px;
        padding: 64px 0px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background: #FFF;
        opacity: 1;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 430px;
        height: 385px;
        margin-top: 155px;
    }
    
    .success {
        width: 429px;
        margin: 0;
        margin-bottom: 11px;
        color: var(--text-black, #414141);
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    
    .border_line {
        background-color: #EC715F;
        border-radius: 5px;
        width: 30px;
        height: 6px;
        flex-shrink: 0;
    }
    
    .thanks {
        color: #414141;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        margin: 32px 0;
        color: var(--text-black, #414141);
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        width: 100%;
    }
    
    /* =========================
              footer
    =========================== */
    
    footer {
        height: 258px;
        gap: 8px;
    }
    
    .contact-link {
        color: #EC715F;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        height: 60px;
        padding: 24px 100px;
        align-items: center;
        border-radius: 30px;
        background: #F9F9F9;
    }
    
    .sns {
        display: flex;
        padding: 32px 0px;
        gap: 60px;
    }
    
    .footer_border_line {
        width: 100%;
        height: 1px;
        opacity: 0.3;
        background: #F9F9F9;
    }
    
    .footer-text {
        line-height: 145%;
        padding-bottom: 10px;
    }
    
}