/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.width-960px {
  width: 960px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
}

header{
  width: 100%; /* 横幅100% */
  height: 70px; /* 高さ70px */
  background-color: #EC715F; /* 背景色をカラーコードで指定 */
}

.heading img{
  height: 60px;
}

nav{
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 子要素を右詰めで順に並べるように設定する */
}

nav > :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list{
  width: 560px; /* 横幅560px */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item{
  margin: 0 30px; /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
  list-style: none; /* li使用時に発生する黒丸を削除 */
  line-height: 70px; /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color: white; /* 文字色を白に変更 */
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    font-family: Noto Sans JP;
}

.nav-list-item a {
  position: relative; /*疑似要素使用のため*/
  text-decoration: none; /*標準時の下線を削除*/
}

.nav-list-item:not(:last-child) a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%; /*下線の幅*/
  height: 4px; /*下線の太さ*/
  background: black;
  visibility: hidden; /*非表示*/
  opacity: 0; /*透明*/
  transition: .3s;
  background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
   visibility: visible; /*表示*/
   opacity: 1; /*不透明に*/
   background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-text {
    /*width: 960px;*/
    /*height: 650px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: white;*/
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
    font-family: Noto Sans JP;
}


/* contact */
.contact {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 128px 0;
}

.contact h2 {
    font-size: 25px;
    font-weight: bold;
}

.cantact-contents {
    width: 517px;
    margin: 0 auto;
    margin-top: 96px;
}

.contact-text {
  color: var(--text-black, #414141);
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; 
}

#form {
    width: 100%;
}

label {
    color: #414141;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    text-align: left;
    display: block;
}

#form input {
    display: flex;
    width: 517px;
    height: 50px;
    padding: 10px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--gray-1, #888);
    background: #FFF;
    margin-bottom: 24px;
    position: relative;
}

#form input:hover {
  outline: none;
  border: 2px solid #EC715F;;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}

#form textarea:hover {
  outline: none;
  border: 2px solid #EC715F;;
}


.send {
    display: flex;
    height: 60px;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #1C1C1C;
    color: #F9F9F9;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    margin: 0 auto;
    margin-top: 96px;
}

.send:hover {
  background-color: #b0a9a9;
  transition: 0.4s;
  border:  #b0a9a9;
}

.error {
    color: #FFF;
    padding: 5px;
    background-color: #EC715F;
    font-size: 11px;
    margin-left: 5px;
}

/* モーダル */
.modal_overlay, .modal_content {
  display: none;
  position: fixed;
}
.modal_overlay.open, .modal_content.open {
    display: block;
    background-color: #261f1f99;
    padding: 100px;
}

.modal_content.open {
    color: black;
    background-color: #FFF;
    border-radius: 15px;
}

.modal_content {
    width: 700px;
    height: 400px;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.modal_content img {
    width: 150px;
    background-color: white;
}

.modal_content p {
    margin-top: 29px;
}

.border_line {
    width: 30px;
    height: 6px;
    border-bottom: 3px solid pink;
    margin: 0 auto;
}

.modal_delete {
    display: flex;
    height: 60px;
    padding: 24px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #1C1C1C;
    color: #F9F9F9;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    margin: 0 auto;
    margin-top: 65px;
    text-decoration: none;
    width: 267px;
}

.modal_delete:hover {
  color: #FFF;
}

footer {
    width: 100%;
    height: 412px;
    text-align: center;
    line-height: 60px;
    background-color: #EC715F;
    display: flex;
    padding: 28px 0px 16px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.contact-link {
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 24px 100px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #EC715F;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    font-family: Noto Sans JP;
}

.contact-link:hover {
    color: #EC715F;
}

.sns {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
  width: 30px;
  height: 30px;
}

.footer_border_line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
