@charset "utf-8";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    width: 100%;
    /* 横幅100% */
    height: 70px;
    /* 高さ70px */
    background-color: #EC715F;
    /* 背景色をカラーコードで指定 */
    /* 固定 */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    /* 高さ70px */
    margin: 0 auto;
    /* 中央寄せ */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 子要素を右詰めで順に並べるように設定する */
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    /* 横幅560px */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item {
    margin: 0 30px;
    /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
    list-style: none;
    /* li使用時に発生する黒丸を削除 */
    line-height: 70px;
    /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
    text-align: center;
    /* 横方向に中央寄せで文字を配置する。*/
    color: white;
    /* 文字色を白に変更 */
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    /*下線の幅*/
    height: 4px;
    /*下線の太さ*/
    background: black;
    visibility: hidden;
    /*非表示*/
    opacity: 0;
    /*透明*/
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    /*表示*/
    opacity: 1;
    /*不透明に*/
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    /* 横幅いっぱい */
    height: 650px;
    /* 高さ650px */
    background-image: url(img/mv.png);
    /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
    background-size: cover;
    /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center;
    /* 背景画像を中央に配置 */
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    font-family: Raleway;
    padding-top: 256px;
    color: #F9F9F9;
    text-align: center;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.main-visual-subtitle {
    font-family: Raleway;
    width: 784px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}


.main-visual {
    width: 100%;
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-visual-text {
    /*width: 960px;*/
    /*height: 650px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: white;*/
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: "Raleway";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
}


/* contact */

main {
    width: 100%;
    padding-bottom: 128px;
    padding-top: 128px;
}

.contact h2 {
    width: 429px;
    color: #414141;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}

.cantact-contents {
    width: 517px;
    margin: 0 auto;
    padding: 96px 0;
}

.contact-text {
    color: #414141;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    margin: 0;
}

#form {
    width: 100%;
}

label {
    color: #414141;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    text-align: left;
    display: block;
}

#form input {
    display: flex;
    width: 517px;
    height: 50px;
    padding: 10px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #888;
    background: #FFF;
    margin-bottom: 24px;
    position: relative;
}

#form input:hover {
    outline: none;
    border: 1px solid #EC715F;
}

.now-input {
    background-color: red;
}

textarea {
    display: flex;
    width: 517px;
    height: 300px;
    padding: 10px;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #888;
    background: #FFF;
}

#form textarea:hover {
    outline: none;
    border: 1px solid #EC715F;
}

.send {
    display: flex;
    height: 60px;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #1C1C1C;
    color: #F9F9F9;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    margin: 0 auto;
    margin-top: 96px;
    border: 1px #1C1C1C;
}

.send:hover {
    background-color: #b0a9a9;
    transition: 0.4s;
}

.error {
    color: #FFF;
    padding: 5px;
    background-color: #EC715F;
    font-size: 11px;
    margin-left: 5px;
}


/* モーダル */

.modal_overlay, .modal_content {
    display: none;
    position: fixed;
}

.modal_overlay.open, .modal_content.open {
    display: block;
    opacity: 0.7;
    background: #1C1C1C;
    padding: 100px;
}

.modal_content.open {
    display: flex;
    width: 704px;
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    opacity: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 200px;
}

.modal_content {
    width: 700px;
    height: 400px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    background: grey;
    background: #1C1C1C;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.modal_content img {
    width: 150px;
    background-color: white;
}

.success {
    width: 429px;
    color: #414141;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin: 0;
    margin-bottom: 11px;
}

.border_line {
    width: 30px;
    height: 6px;
    background-color: #EC715F;
    border-radius: 5px;
}

.thanks {
    color: #414141;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    margin: 32px 0;
}

.modal_delete {
    display: flex;
    height: 60px;
    padding: 24px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #414141;
    color: #F9F9F9;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    text-decoration: none;
}

.modal_delete:hover {
    background-color: #41414199;
    transition: 0.3s;
    color: #F9F9F9;;
}

footer {
    height: 290px;
    color: #FFF;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    width: 1440px;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}


/* 追従ボタン */


.fixed_btn {
    position: fixed;
    bottom: 60px;
    right: 22px;
    background: var(--text-black, #414141);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fixed_btn img {
    width: 40px;
    width: 18px;
    height: 8px;
    margin-top: 20px;
    margin-left: 16px;
}
.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#more {
    display: none;
}

.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}

/* =========================
ハンバーガーメニューの実装
=========================== */

#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}

/*スマホ用*/

@media screen and (max-width: 480px) {
    html, body, header, nav, main, .main-visual, .main-visual-text, .works, .profile, .blogs, .blogs-contents, footer {
        width: 100%;
    }
main {
    padding: 64px 0;
    width: 430px;
    margin: 0 auto;
}


.contact-text {
    /* color: #414141; */
    /* text-align: center; */
    /* font-size: 18px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 200%; */
    margin: 0;
    color: var(--text-black, #414141);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    width: 360px;
    margin: 0 auto;
}

.cantact-contents {
    /* width: 517px; */
    margin: 0 auto;
    /* padding: 96px 0; */
    width: 100%;
    /* height: 556px; */
    padding-top: 40px;
    padding-bottom: 0;
}

label {
    /* color: #414141; */
    /* font-size: 18px; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* line-height: 200%; */
    text-align: left;
    display: block;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

#form input {
    display: flex;
    width: 517px;
    height: 50px;
    padding: 10px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #888;
    background: #FFF;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    height: 50px;
}

textarea {
    display: flex;
    width: 517px;
    height: 300px;
    padding: 10px;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #888;
    background: #FFF;
    width: 100%;
    height: 300px;
}

.send {
    /* display: flex; */
    /* height: 60px; */
    /* padding: 24px 100px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    /* border-radius: 30px; */
    /* background: #1C1C1C; */
    color: #F9F9F9;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    margin: 0 auto;
    /* margin-top: 96px; */
    border: 1px #1C1C1C;
    margin-top: 56px;
    display: flex;
    height: 60px;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--black, #1C1C1C);
}

.modal_content.open {
    display: flex;
    width: 704px;
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    opacity: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 430px;
    height: 385px;
    margin-top: 155px;
}

.success {
    width: 429px;
    /* color: #414141; */
    /* text-align: center; */
    /* font-size: 30px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    margin: 0;
    margin-bottom: 11px;
    color: var(--text-black, #414141);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    /* margin-bottom: 11px; */
}

.border_line {
    /* width: 30px; */
    /* height: 6px; */
    background-color: #EC715F;
    border-radius: 5px;
    width: 30px;
    height: 6px;
    flex-shrink: 0;
}

.thanks {
    color: #414141;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    margin: 32px 0;
    color: var(--text-black, #414141);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    width: 100%;
}

    .none {
        display: none !important;
    }
    body {
        padding-top: 0;
    }
    .pc-logo {
        display: none;
    }
    .sm-logo {
        display: block;
        margin: 0;
        height: 70px;
    }
    #more {
        display: block;
    }
    .heading a {
        display: block;
        padding-top: 7px;
    }
    /* =========================
    ハンバーガーメニュー
    =========================== */
    .nav-list {
        padding: 0;
        display: block;
    }
    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }
    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        z-index: 100;
        cursor: pointer;
        top: 35px;
        right: 65px;
    }
    /* ハンバーガーメニューのアイコン */
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }
    /*アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    /*アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    /* メニューのデザイン*/
    nav {
        height: 100%;
        position: fixed;
        bottom: 0;
        left: -100%;
        top: 70px;
        z-index: 99;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    .nav-list-item:first-child {
        margin-top: 16px;
    }
    .nav-list-item:last-child {
        width: 200px;
        margin: 0 auto;
        bottom: 70px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .nav-list-item a {
        color: #F9F9F9;
        text-decoration: none;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked~nav {
        bottom: 0;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100%;
    }
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    a.contact-button {
        color: #EC715F;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    /*メインビジュアル*/
.main-visual {
    height: 160px;
}
.main-visual-title {
    line-height: 110%;
    padding-top: 44px;
    width: 100%;
}
    .main-visual-subtitle {
        width: 100%;
        padding: 0 30px 0 30px;
        text-align: center;
    }
 
 
.width-704px {
    width: 100%;
}

.blog-title {
    /* height: 173px; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    height: 189px;
}

h3 {
    /* color: #414141; */
    /* font-size: 30px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    /* margin-bottom: 16px; */
    /* width: 674px; */
    /* margin-top: 20px; */
    /* height: 88px; */
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    width: 398px;
    height: 132px;
    margin-bottom: 16px;
    margin-top: 3px;
}

.vertical-line {
    /* display: flex; */
    /* width: 6px; */
    /* align-items: flex-start; */
    /* gap: 10px; */
    /* border-radius: 5px; */
    /* background: #EC715F; */
    height: 100%;
    display: flex;
    width: 6px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: #EC715F;
}


 
.blog-link {
    display: block;
    text-decoration: none;
    width: 702px;
    margin: 0 auto;
    /* margin-bottom: 96px; */
    width: 420px;
    height: 166px;
}

.blog {
    display: flex;
    justify-content: space-around;
    /* width: 702px; */
    margin: 0 auto;
    margin-bottom: 96px;
    width: 420px;
    height: 166px;
    margin-top: 56px;
    margin-bottom: 0;
    height: 2050px;
}
 
 
 
.recommend {
    /* width: 960px; */
    margin: 0 auto;
    padding-top: 64px;
    width: 420px;
    margin: 0 auto;
    height: 1250px;
}

.recomemnd-headding {
    /* color: #414141; */
    /* font-size: 20px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    margin-bottom: 6px;
    color: var(--text-black, #414141);
    font-family: Noto Sans CJK JP;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}

.recommend-blogs {
    /* width: 960px; */
    /* height: 319px; */
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px 0;
    flex-wrap: wrap;
    width: 100%;
    height: 1146px;
}

.card {
    width: 272px;
    height: 356px;
    border: none;
    width: 100%;
}

.blog3-image {
    background-image: url(../img/blog3-large-image.png);
    height: 254px;
    background-size: cover;
    background-position: center;
}

.recomemnd-blog-datetime {
    /* color: #EC715F; */
    /* font-size: 12px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 180%; */
    display: flex;
    width: 258px;
    height: 37.152px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 14px;
    color: var(--primary, #EC715F);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin: 0;
}

.recommend-blog-title {
    /* color: #414141; */
    /* font-size: 20px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    width: 420px;
    height: 59px;
    flex-shrink: 0;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-top: 10px;
}
 
.blog4-image {
    background-image: url(../img/blog4-large-image.png);
    height: 254px;
    margin-left: 0;
    background-size: cover;
    background-position: center;
}

.blog5-image {
    background-image: url(../img/blog5-large-image.png);
    height: 254px;
    margin-left: 0;
    background-size: cover;
    background-position: center;
}

.case {
    /* border-bottom: solid 1px #D2D2D2; */
    /* padding-bottom: 96px; */
    /* width: 704px; */
    /* margin: 0 auto; */
    /* padding-top: 96px; */
    /* width: 420px; */
    /* margin: 0 auto; */
    padding: 51px 0;
}

.workscase {
    /* width: 704px; */
    /* height: 260px; */
    /* margin: 0 auto; */
    width: 420px !important;
    margin: 0 auto;
    height: 362px;
}
.workshead {
    display: block;
    width: 420px;
    height: 143px;
}

.title-group {
    width: 498px;
    height: 88px;
    width: 306px;
    height: 100px;
    position: relative;
}

h4 {
    /* width: 560px; */
    /* color: #414141; */
    /* font-size: 24px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    /* margin-bottom: 12px; */
    /* color: var(--text-black, #414141); */
    /* font-family: Noto Sans JP; */
    /* font-size: 24px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    /* margin-bottom: 8px; */
    /* width: 306px; */
    height: 67px;
    overflow: hidden;
    /* color: var(--text-black, #414141); */
    text-overflow: ellipsis;
    /* font-family: Noto Sans JP; */
    /* font-size: 20px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    width: 100%;
    margin-bottom: 10px;
}

.datetime {
    /* color: #EC715F; */
    /* font-size: 12px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 180%; */
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    /* width: 306px; */
    /* height: 57px; */
    /* color: var(--primary, #EC715F); */
    /* font-family: Noto Sans JP; */
    /* font-size: 12px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 145%; */
    height: 17px;
    margin: 0;
    color: var(--primary, #EC715F);
    font-family: Noto Sans CJK JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
}

.blog:first-child {
    margin-top: 0;
}

.content {
    line-height: 180%;
    height: 58px;
    overflow: hidden;
    color: #414141;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 420px;
    height: 58px;
    flex: 1 0 0;
    /* display: block; */
    width: 420px;
    flex-wrap: wrap;
    position: absolute;
    top: 108px;
    left: -114px;
}


.worksindex {
    padding: 0;
    width: 107px;
    height: 32px;
    border-left: none;
    border-right: none;
    display: flex;
    margin-bottom: 16px;
}

.example {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 0;
    width: 107px;
    height: 32px;
    display: flex;
    width: 43px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.number {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    display: flex;
    width: 65px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.category {
    width: 560px;
    color: #909090;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: var(--text-gray, #909090);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 0;
    width: 420px;
}

.workbody {
    padding-top: 16px;
    color: #414141;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 420px;
    margin: 0 auto;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* height: 203px; */
}
 
.workstitle {
    /* width: 570px; */
    /* height: 112px; */
    width: 437px;
    height: 70px;
}

.work1-image {
    background-image: url(../img/work1-image.png);
    height: 400px;
}
.image-box {
    /* margin: 0 auto; */
    background-size: cover;
    background-position: center;
    /* margin-top: 14px; */
    /* width: 100px !important; */
    height: 100px;
    display: block;
    margin-right: 16px;
    width: 100%;
    margin-top: 56px;
    height: 420px;
}

.blog2-image {
    height: 347px !important;
    margin-bottom: 22.34px !important;
}

.description {
    /* color: #414141; */
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 180%; */
    margin-bottom: 56px;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.description p {
    /* margin: 0; */
    /* color: #414141; */
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 180%; */
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.caption {
    /* color: #888; */
    /* font-family: Inter; */
    /* font-size: 14px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 160%; */
    margin-bottom: 56px;
    color: var(--gray-1, #888);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.caution {
    /* color: #888; */
    /* font-family: Inter; */
    /* font-size: 14px; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 160%; */
    margin-bottom: 0;
    color: var(--gray-1, #888);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.blogs-case {
    width: 306px;
    height: 100px;
}


    .fixed_btn {
        right: 15px;
    }
    footer {
        height: 258px;
        gap: 8px;
    }
    .contact-link {
        color: #EC715F;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        height: 60px;
        padding: 24px 100px;
        align-items: center;
        border-radius: 30px;
        background: #F9F9F9;
    }
    .sns {
        display: flex;
        padding: 32px 0px;
        gap: 60px;
    }
    .footer_border_line {
        width: 100%;
        height: 1px;
        opacity: 0.3;
        background: #F9F9F9;
    }
    .footer-text {
        font-size: 12px;
        line-height: 145%;
    }
}