@charset "utf-8";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

header{
  width: 100%; /* 横幅100% */
  height: 70px; /* 高さ70px */
  background-color: #EC715F; /* 背景色をカラーコードで指定 */
  /* 固定 */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.heading img{
  height: 60px;
}

nav{
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 子要素を右詰めで順に並べるように設定する */
}

nav > :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list{
  width: 560px; /* 横幅560px */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item{
  margin: 0 30px; /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
  list-style: none; /* li使用時に発生する黒丸を削除 */
  line-height: 70px; /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color: white; /* 文字色を白に変更 */
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    font-family: Noto Sans JP;
}

.nav-list-item a {
  position: relative; /*疑似要素使用のため*/
  text-decoration: none; /*標準時の下線を削除*/
}

.nav-list-item:not(:last-child) a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%; /*下線の幅*/
  height: 4px; /*下線の太さ*/
  background: black;
  visibility: hidden; /*非表示*/
  opacity: 0; /*透明*/
  transition: .3s;
  background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
   visibility: visible; /*表示*/
   opacity: 1; /*不透明に*/
   background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-visual-text {
    /*width: 960px;*/
    /*height: 650px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: white;*/
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: Raleway;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
    font-family: Noto Sans JP;
}


/* .mainをmainに変更して、専用タグのmainを指定するように設定する。 */
main {
    width: 100%;
    padding-bottom: 128px;
    padding-top: 128px;
}

.case {
    border-bottom: solid 1px #E4E4E4;
    padding-bottom: 96px;
    padding-top: 96px;
}

.contents_inner {
    padding-top: 128px;
    margin-top:-128px;   
}

.case:last-child {
  padding-bottom: 0;
  border-bottom: none;
}


.workscase {
    width: 704px;
    height: 260px;
    margin: 0 auto;
}

.workshead {
    display: flex;
    justify-content: space-between;
}

.worksindex {
    padding: 0 20px;
    width: 105px;
    height: 80px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.example {
    width: 65px;
    color: #414141;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 0;
}

.number {
    width: 65px;
    color: var(--text-black, #414141);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}


.workstitle {
    width: 570px;
    height: 112px;
}


h4 {
    width: 560px;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
}

.category {
    width: 560px;
    color: var(--text-gray, #909090);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.workbody {
    padding-top: 32px;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.image-box {
    width: 704px;
    height: 704px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    margin-top: 24px;
}


.work1-image {
    background-image: url(../img/work1-image.png);
    height: 704px;
}

.work2-image {
    background-image: url(../img/work2-image.png);
    height: 704px;
}

.work3-image {
    background-image: url(../img/work3-image.png);
    height: 704px;
}

.work4-image {
    background-image: url(../img/work4-image.png);
    height: 704px;
}

.work5-image {
    background-image: url(../img/work5-image.png);
    height: 704px;
}

.work6-image {
    background-image: url(../img/work6-image.png);
    height: 704px;
}


.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    font-family: Noto Sans JP;
    font-style: normal;
}

.view-all:hover {
    background: #1c1c1c7d;
    color: #F9F9F9;
    transition: 0.3s;
}


footer {
    width: 100%;
    height: 412px;
    text-align: center;
    line-height: 60px;
    background-color: #EC715F;
    display: flex;
    padding: 28px 0px 16px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.contact-link {
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 24px 100px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #EC715F;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    font-family: Noto Sans JP;
}

.contact-link:hover {
    color: #EC715F;
}

.sns {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
  width: 30px;
  height: 30px;
}

.footer_border_line {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

