@charset "utf-8";

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width_704px {
    width: 704px;
    margin: 0 auto;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    width: 100%;
    /* 横幅100% */
    height: 70px;
    /* 高さ70px */
    background-color: #EC715F;
    /* 背景色をカラーコードで指定 */
    /* 固定 */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.heading img {
    height: 60px;
}

nav {
    height: 70px;
    /* 高さ70px */
    margin: 0 auto;
    /* 中央寄せ */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 子要素を右詰めで順に並べるように設定する */
}

nav> :first-child {
    margin-right: auto;
    width: 214px;
    height: 65px;
    padding-top: 5px;
}

.nav-list {
    width: 560px;
    /* 横幅560px */
    display: flex;
    /* flexboxを設定 */
    justify-content: flex-end;
    /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item {
    margin: 0 30px;
    /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
    list-style: none;
    /* li使用時に発生する黒丸を削除 */
    line-height: 70px;
    /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
    text-align: center;
    /* 横方向に中央寄せで文字を配置する。*/
    color: white;
    /* 文字色を白に変更 */
}

.nav-list-item a {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}

.nav-list-item:not(:last-child) a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    /*下線の幅*/
    height: 4px;
    /*下線の太さ*/
    background: black;
    visibility: hidden;
    /*非表示*/
    opacity: 0;
    /*透明*/
    transition: .3s;
    background-color: white;
}

.nav-list-item:not(:last-child) a:hover::after {
    visibility: visible;
    /*表示*/
    opacity: 1;
    /*不透明に*/
    background-color: white;
}

.contact-button {
    display: block;
    background-color: white;
    border-radius: 20px;
    height: 28px;
    width: 100px;
    margin-top: 20px;
    line-height: 30px;
    color: #EC715F !important;
}

.contact-button:hover {
    background-color: #ffffff9e;
    transition: 0.3s
}

.main-visual {
    width: 100%;
    /* 横幅いっぱい */
    height: 650px;
    /* 高さ650px */
    background-image: url(img/mv.png);
    /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
    background-size: cover;
    /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center;
    /* 背景画像を中央に配置 */
}

.main-visual-text {
    width: 960px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    font-family: Raleway;
    padding-top: 256px;
    color: #F9F9F9;
    text-align: center;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.main-visual-subtitle {
    font-family: Raleway;
    width: 784px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}


.main-visual {
    width: 100%;
    height: 250px;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-visual-text {
    /*width: 960px;*/
    /*height: 650px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*color: white;*/
}

.first-char {
    color: #EC715F;
}

.main-visual-title {
    padding-top: 90px;
    color: #F9F9F9;
    text-align: center;
    font-family: "Raleway";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0;
}

.main-visual-subtitle {
    width: 784px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 200%;
}


/* .mainをmainに変更して、専用タグのmainを指定するように設定する。 */

main {
    width: 100%;
    padding-bottom: 128px;
    padding-top: 128px;
}

.case {
    border-bottom: solid 1px #D2D2D2;
    padding-bottom: 96px;
    /*width: 704px;*/
    /*margin: 0 auto;*/
    padding-top: 96px;
}

.case:first-child {
    padding-top: 0;
}

/*.contents_inner {*/
/*    padding-top: 128px;*/
/*    margin-top: -128px;*/
/*}*/

.case:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.workscase {
    /*width: 704px;*/
    height: 260px;
    /*margin: 0 auto;*/
}

.workshead {
    display: flex;
    justify-content: space-between;
}

.worksindex {
    padding: 0 20px;
    width: 105px;
    height: 80px;
    border-left: solid 1px #909090;
    border-right: solid 1px #909090;
}

.example {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 0;
}

.number {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.workstitle {
    width: 570px;
    height: 112px;
}

h4 {
    width: 560px;
    color: #414141;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    margin-bottom: 12px;
}

.category {
    width: 560px;
    color: #909090;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.workbody {
    padding-top: 32px;
    color: #414141;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.image-box {
    width: 704px;
    height: 704px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    margin-top: 24px;
}

.work1-image {
    background-image: url(../img/work1-image.png);
    height: 704px;
}

.work2-image {
    background-image: url(../img/work2-image.png);
    height: 704px;
}

.work3-image {
    background-image: url(../img/work3-image.png);
    height: 704px;
}

.work4-image {
    background-image: url(../img/work4-image.png);
    height: 704px;
}

.work5-image {
    background-image: url(../img/work5-image.png);
    height: 704px;
}

.work6-image {
    background-image: url(../img/work6-image.png);
    height: 704px;
}

.view-all {
    width: 224px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F9F9F9;
    background: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    font-style: normal;
}

.view-all:hover {
    background: #1c1c1c7d;
    color: #F9F9F9;
    transition: 0.3s;
}

footer {
    height: 290px;
    color: #FFF;
    background-color: #EC715F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 20px;
}

.contact-link {
    height: 60px;
    color: #EC715F;
    background: #F9F9F9;
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 145%;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.contact-link:hover {
    color: #EC715F;
    background: #f9f9f985;
    transition: 0.5s;
}

.sns {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer_border_line {
    width: 1440px;
    height: 1px;
    opacity: 0.3;
    background: #F9F9F9;
}

.footer-text {
    color: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}


/* 追従ボタン */

.fixed_btn {
    position: fixed;
    bottom: 60px;
    right: 22px;
    background: var(--text-black, #414141);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fixed_btn img {
    width: 40px;
    width: 18px;
    height: 8px;
    margin-top: 20px;
    margin-left: 16px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#more {
    display: none;
}

.pc-logo {
    display: block;
}

.sm-logo {
    display: none;
}


/* =========================
ハンバーガーメニューの実装
=========================== */

#drawer_input {
    display: none;
}

.drawer_open {
    display: none;
}


/*スマホ用*/

@media screen and (max-width: 480px) {
    html, body, header, nav, main, .main-visual, .main-visual-text, .works, .profile, .blogs, .blogs-contents, footer {
        width: 100%;
    }
    main {
        padding: 64px 0;
    }
    .none {
        display: none !important;
    }
    body {
        padding-top: 0;
    }
    .pc-logo {
        display: none;
    }
    .sm-logo {
        display: block;
        margin: 0;
        height: 70px;
    }
    #more {
        display: block;
    }
    .heading a {
        display: block;
        padding-top: 7px;
    }
    /* =========================
    ハンバーガーメニュー
    =========================== */
    .nav-list {
        padding: 0;
        display: block;
    }
    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }
    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        z-index: 100;
        cursor: pointer;
        top: 35px;
        right: 65px;
    }
    /* ハンバーガーメニューのアイコン */
    .drawer_open span, .drawer_open span:before, .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 35px;
        border-radius: 3px;
        background: #F9F9F9;
        transition: 0.5s;
        position: absolute;
    }
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }
    /*アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    /*アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    /* メニューのデザイン*/
    nav {
        height: 100%;
        position: fixed;
        bottom: 0;
        left: -100%;
        top: 70px;
        z-index: 99;
        background: #EC715F;
        transition: .5s;
        text-align: center;
    }
    .nav-list-item {
        height: 80px;
        width: 79px;
        margin: 0 auto;
    }
    .nav-list-item:first-child {
        margin-top: 16px;
    }
    .nav-list-item:last-child {
        width: 200px;
        margin: 0 auto;
        bottom: 70px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .nav-list-item a {
        color: #F9F9F9;
        text-decoration: none;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked~nav {
        bottom: 0;
        position: fixed;
        top: 70px;
        left: 0;
        height: 100%;
    }
    .contact-button {
        display: flex;
        height: 60px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #F9F9F9;
    }
    a.contact-button {
        color: #EC715F;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 145%;
    }
    /*メインビジュアル*/
.main-visual {
    height: 160px;
}
.main-visual-title {
    line-height: 110%;
    padding-top: 44px;
    width: 100%;
}
    .main-visual-subtitle {
        width: 100%;
        padding: 0 30px 0 30px;
        text-align: center;
    }
 
 
.case {
    /* border-bottom: solid 1px #D2D2D2; */
    /* padding-bottom: 96px; */
    /* width: 704px; */
    /* margin: 0 auto; */
    /* padding-top: 96px; */
    /* width: 420px; */
    /* margin: 0 auto; */
    padding: 51px 0;
}

.workscase {
    /* width: 704px; */
    /* height: 260px; */
    /* margin: 0 auto; */
    width: 420px !important;
    margin: 0 auto;
    height: 362px;
}
.workshead {
    display: block;
    width: 420px;
    height: 143px;
}

h4 {
    /* width: 560px; */
    /* color: #414141; */
    /* font-size: 24px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 145%; */
    /* margin-bottom: 12px; */
    /* color: var(--text-black, #414141); */
    font-family: Noto Sans JP;
    font-size: 24px;
    /* font-style: normal; */
    font-weight: 700;
    line-height: 145%;
    width: 420px;
    margin-bottom: 8px;
}

.worksindex {
    padding: 0;
    width: 107px;
    height: 32px;
    border-left: none;
    border-right: none;
    display: flex;
    margin-bottom: 16px;
}

.example {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 0;
    width: 107px;
    height: 32px;
    display: flex;
    width: 43px;
    height: 26px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.number {
    width: 65px;
    color: #414141;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    display: flex;
    width: 65px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}
.category {
    width: 560px;
    color: #909090;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: var(--text-gray, #909090);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    margin-bottom: 0;
    width: 420px;
}

.workbody {
    padding-top: 16px;
    color: #414141;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 420px;
    margin: 0 auto;
    color: var(--text-black, #414141);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* height: 203px; */
}
 
.workstitle {
    /* width: 570px; */
    /* height: 112px; */
    width: 437px;
    height: 70px;
}

.work1-image {
    background-image: url(../img/work1-image.png);
    height: 400px;
}
.image-box {
    width: 420px;
    height: 400px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    margin-top: 16px;
}


    .fixed_btn {
        right: 15px;
    }
    footer {
        height: 258px;
        gap: 8px;
    }
    .contact-link {
        color: #EC715F;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        height: 60px;
        padding: 24px 100px;
        align-items: center;
        border-radius: 30px;
        background: #F9F9F9;
    }
    .sns {
        display: flex;
        padding: 32px 0px;
        gap: 60px;
    }
    .footer_border_line {
        width: 100%;
        height: 1px;
        opacity: 0.3;
        background: #F9F9F9;
    }
    .footer-text {
        font-size: 12px;
        line-height: 145%;
    }
}